.fundo{
    background-color: #b6fcb6;
}

body{
    font-family: 'Acme', sans-serif;
}

header{
    background-color: darkorange;
    padding: 50px 0;

}
nav{
    top: 110px;
    left: 0;
}
.menu{
    display: inline-block;
    position: relative;
    width: 940px;
    margin: 0;
}
nav li{
    font-weight: bold;
    display: inline;
    padding: 0 0 0 20px;
}
nav a{
    text-transform: uppercase;
    color: #07a507;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color:#FFFFFF;
    text-decoration: underline;
} 
.logo{
    display:inline-block;
    position: absolute;
    vertical-align: top;
    width: 375px;
    height: 275px;
}
.titulo-principal{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    margin: 1em 1em;
    clear: left;
    color: #07a507;
}

.principal p{
    font-size: 18px;
    text-align: center;
    clear: left;
}
.titulo{
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    margin: 1em 0 1em;
    clear: left;
    color: #07a507;
}

.conteudo-beneficios{
    width: 550px;
    margin: 0 auto;
}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.beneficios{
    padding: 3em 0;
}

.itens{
    line-height: 1.5;   
    vertical-align: top;
}
.itens::before{
    content: "\272F";
}

.mapa{
    margin: 0 0 2em;
    text-align: center;
    clear: left;
}
.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-localizacao{
    width: 940px;
    margin: 0 auto;
}
#svb{
    text-decoration: none;
    color:#07a507;

}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos h2{
    margin-bottom: 5px;
}
.produtos img{
    width: 230px;
    align-content: center;
}
.produtos li:hover{
    border-color:darkorange;
}

.produtos li:active{
    border-color: #088C19;
}

.produtos li:hover h2{
    font-size: 35px;
}


.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 1.5% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid 2px #FFFFFF;
    border-radius: 15px;

}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.descricao{
    font-size: 18px;
}
.preco-produto{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}
.video{
    width: 720px;
    margin: 2em auto ;
}

form{
    margin: 40px 60px;
    
}

form label, form legend{
    display: block;
    margin: 0 0 10px;
}
.input-padrap{
    display: block;
    margin: 0 0 10px;
    padding: 10px 25px;
    width: 25%;
}
.checkbox{
    margin: 15px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background-color:#07a507;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background-color: darkorange;
    transform: scale(1.2);
}

table{
    margin: 40px 60px;
}
thead{
    background-color: darkorange;
    color: #FFFFFF;
    font-weight: bold;
}
td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

footer{
    color: #FFFFFF;
    text-align: center;
    background-color: darkorange;
    padding: 40px 40px;
}

.reserva{
    text-decoration: none;
    font-size: 25px;
    color: #07a507 ;
}


/*Pagina de Cadastro*/
.cadProd, .cadCat{
    border: solid;
    display: block;
    float:left;
    margin-left: 245px; 
    margin-right: 100px;
    margin-top: 20px;    
}

.cadTitulo{
    text-align: center;
    margin: 5px;
    padding: 5px;
}
#formulario{
    margin:5px;
    padding: 3px;
}
#novoProduto{
    text-align: left;
    margin:3px, 3px;
}
#frmNome{
    text-align: left;    
    margin: 5px;
}
#incluirAlterarCategoria, #incluirAlterarProduto{
    float: left;
    margin-left: 3px;
    margin-bottom: 10px;
    margin-top: -10px;
}


/*Página de Admin*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: 'Acme', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: 'Acme', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: 'Acme', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
/*Página de Admin*/


@media screen and (max-width: 480px){
  nav, .menu, .mapa, .mapa-localizacao{
      width: 100%;
  }

  .logo{
    position: absolute;
    vertical-align: top;
  }
  .principal, .titulo-principal, .titulo{
      text-align: center;
  }
}

@media screen and (max-width: 640px){
    nav, .menu , .mapa, .mapa-localizacao {
        width: 100%;
    }
    .principal, .titulo-principal, .titulo{
       text-align: center;
    }
}

@media screen and (max-width: 740px){
    nav, .menu, .mapa, .mapa-localizacao {
        width: 100%;
    }
    .principal, .titulo-principal, .titulo{
        text-align: center;
    }
}

