.fundo{
    background-color: #b6fcb6;
}

body{
    font-family: 'Acme', sans-serif;
}

header{
    background-color: darkorange;
    padding: 50px 0;

}
nav{
    top: 110px;
    left: 0;
}
.menu{
    display: inline-block;
    position: relative;
    width: 940px;
    margin: 0;
}
nav li{
    font-weight: bold;
    display: inline;
    padding: 0 0 0 20px;
}
nav a{
    text-transform: uppercase;
    color: #07a507;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color:#FFFFFF;
    text-decoration: underline;
} 
.logo{
    display:inline-block;
    position: absolute;
    vertical-align: top;
    width: 375px;
    height: 275px;
}
.titulo-principal{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    margin: 1em 1em;
    clear: left;
    color: #07a507;
}

.principal p{
    font-size: 18px;
    text-align: center;
    clear: left;
}
.titulo{
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    margin: 1em 0 1em;
    clear: left;
    color: #07a507;
}

.conteudo-beneficios{
    width: 550px;
    margin: 0 auto;
}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.beneficios{
    padding: 3em 0;
}

.itens{
    line-height: 1.5;   
    vertical-align: top;
}
.itens::before{
    content: "\272F";
}

.mapa{
    margin: 0 0 2em;
    text-align: center;
    clear: left;
}
.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-localizacao{
    width: 940px;
    margin: 0 auto;
}
#svb{
    text-decoration: none;
    color:#07a507;

}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos h2{
    margin-bottom: 5px;
}
.produtos img{
    width: 230px;
    align-content: center;
}
.produtos li:hover{
    border-color:darkorange;
}

.produtos li:active{
    border-color: #088C19;
}

.produtos li:hover h2{
    font-size: 35px;
}


.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 1.5% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid 2px #FFFFFF;
    border-radius: 15px;

}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.descricao{
    font-size: 18px;
}
.preco-produto{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}
.video{
    width: 720px;
    margin: 2em auto ;
}

form{
    margin: 40px 60px;
    
}

form label, form legend{
    display: block;
    margin: 0 0 10px;
}
.input-padrap{
    display: block;
    margin: 0 0 10px;
    padding: 10px 25px;
    width: 25%;
}
.checkbox{
    margin: 15px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background-color:#07a507;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background-color: darkorange;
    transform: scale(1.2);
}

table{
    margin: 40px 60px;
}
thead{
    background-color: darkorange;
    color: #FFFFFF;
    font-weight: bold;
}
td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

footer{
    color: #FFFFFF;
    text-align: center;
    background-color: darkorange;
    padding: 40px 40px;
}

.reserva{
    text-decoration: none;
    font-size: 25px;
    color: #07a507 ;
}


@media screen and (max-width: 480px){
  nav, .menu, .mapa, .mapa-localizacao{
      width: 100%;
  }

  .logo{
    position: absolute;
    vertical-align: top;
  }
  .principal, .titulo-principal, .titulo{
      text-align: center;
  }
}

@media screen and (max-width: 640px){
    nav, .menu , .mapa, .mapa-localizacao {
        width: 100%;
    }
    .principal, .titulo-principal, .titulo{
       text-align: center;
    }
}

@media screen and (max-width: 740px){
    nav, .menu, .mapa, .mapa-localizacao {
        width: 100%;
    }
    .principal, .titulo-principal, .titulo{
        text-align: center;
    }
}

